main/default/flows/DY_Screen_Flow_Update_Communication_Prefs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Do_Not_Call_field</name>
        <label>Assign Do Not Call field</label>
        <locationX>960</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordVar.Do_Not_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Call</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Do_Not_Text_visible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Do_Not_Email_field</name>
        <label>Assign Do Not Email field</label>
        <locationX>986</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordVar.Do_Not_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Do_Not_Mail_visible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Do_Not_Text_Field</name>
        <label>Assign Do Not Text Field</label>
        <locationX>969</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordVar.Do_Not_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Do_Not_Email_visible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Description test</description>
        <name>Assign_Id_to_UpdateRecordVar</name>
        <label>Assign Id to UpdateRecordVar</label>
        <locationX>584</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Do_Not_Call_Visible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Do_Not_Mail_field</name>
        <label>Assignment Do Not Mail field</label>
        <locationX>1008</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>UpdateRecordVar.Do_Not_Mail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_Not_Mail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Comms_Preferences</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Do_Not_Call_Visible</name>
        <label>Is Do Not Call Visible?</label>
        <locationX>577</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>Assign_Do_Not_Call_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Call field is Visible and Selected</defaultConnectorLabel>
        <rules>
            <name>Do_no_Call_is_Null_or_Unchecked1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Do_Not_Call</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Do_Not_Text_visible</targetReference>
            </connector>
            <label>Do no Call is Null or Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Do_Not_Email_visible</name>
        <label>Is Do Not  Email visible?</label>
        <locationX>584</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_Do_Not_Email_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Email field is Visible and Selected</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Email_filed_is_Null_or_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_Not_Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Do_Not_Mail_visible</targetReference>
            </connector>
            <label>Do Not Email filed is Null or Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Do_Not_Mail_visible</name>
        <label>Is Do Not Mail visible?</label>
        <locationX>584</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Assignment_Do_Not_Mail_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Email field is Visible and Selected</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Mail_filed_is_Null_or_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_Not_Mail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Comms_Preferences</targetReference>
            </connector>
            <label>Do Not Mail filed is Null or Unchecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Do_Not_Text_visible</name>
        <label>Is Do Not Text visible?</label>
        <locationX>584</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Assign_Do_Not_Text_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Text field is Visible and Selected</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Text_filed_is_Null_or_Unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_Not_Text</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Do_Not_Email_visible</targetReference>
            </connector>
            <label>Do Not Text filed is Null or Unchecked</label>
        </rules>
    </decisions>
    <interviewLabel>DY Screen Flow - Update Communication Prefs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DY Screen Flow - Update Communication Prefs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>584</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Communication_Preferences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Comms_Preferences</name>
        <label>Update Contact Comms Preferences</label>
        <locationX>584</locationX>
        <locationY>1706</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>UpdateRecordVar</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>936</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errortext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Error occured&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Communication_Preferences</name>
        <label>Update Communication Preferences</label>
        <locationX>584</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Id_to_UpdateRecordVar</targetReference>
        </connector>
        <fields>
            <name>Do_Not_Call</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Call</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Call__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_Not_Text</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Text__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_Not_Email</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Email__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_Not_Mail</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Mail</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_Not_Mail</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TESTText</name>
            <fieldText>&lt;p&gt;This contact has opted out of  all communications.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Call__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Email__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Contact.Do_Not_Mail__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Do_Not_Email</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
